/* Editar style.css */

/* |-VARIÁVEIS*/
:root {
  /*propriedades editadas no scriptTheme*/
  --backColor1: none;
  --backColor2: none;
  --backColor3: none;
  --backColor4: none;
  --backColor1t: none;
  --backColor2t: none;
  --backColor1s: none;
  --backColor2s: none;
  --buttonColor1: none;
  --buttonColor2: none;
  --buttonColor3: none;
  --fontColor1: none;
  --fontColor2: none;
  --fontColor3: none;
  --fontColor4: none;
  --fontColor5: none;
  --aColor: none;
  --backgroundImage: none;
  --backgroundImage2: none;
  --backgroundImage3: none;
  --backgroundImageHeader: none;

  /*propriedades NÃO editadas no scriptTheme*/
  --fontSizeRoot1: 14px;
  --headerHeigth: 6rem;
  --footerHeigth: 2rem;
  --menuButtonHeight: 4rem;
  --iconSize: 3.5rem;
  --bodyHeight: none;
  --mobileHeight: none;
  /*propriedade para animação dos menus*/
  --menuWidth: 18rem;
}

/* |-Reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: var(--fontSizeRoot1);
  overflow: auto;
}

.body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #212429;
  background-image: var(--backgroundImage);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: env(safe-area-inset-bottom);
}

button {
  border: 1px solid var(--backColor2t);
  background-color: var(--backColor2t);
  color: var(--fontColor1);
}

button i {
  color: var(--fontColor1);
}

button:hover {
  border: 1px solid var(--fontColor2);
  background-color: var(--backColor1s);
  color: var(--fontColor2);
}

button:active {
  border: 1px solid var(--fontColor3);
  background-color: var(--buttonColor3);
  color: var(--fontColor3);
}

button:disabled {
  border: 1px solid var(--fontColor3);
  background-color: var(--buttonColor3);
  color: var(--fontColor3);
}

/* |-myHeader */
#myHeader {
  /* display: flex; será definido após o carregamento da página*/
  height: var(--headerHeigth);
  background-color: var(--backColor1);
  align-items: center;
  padding-left: .5rem;
  padding-right: .5rem;
}

#myHeader p {
  margin-left: 1rem;
  font-size: 1rem;
  display: flex;
  flex: 1;
  align-items: flex-end;
  height: 2rem;
  color: var(--fontColor1);
}

#myHeader>#buttonHome {
  width: 7.5rem;
  height: 4rem;
  border: 2px solid var(--backColor1t);
  background-color: var(--backColor1t);
  font-size: 2rem;
  color: var(--fontColor1);
  border-radius: 10px;
  cursor: pointer;
  margin: .1rem;
  line-height: 4rem;
  transition: background-color 0.3s;
}

#myHeader>#buttonHome:hover {
  color: var(--fontColor1);
}

#myHeader button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 10px;
  cursor: pointer;
  margin: .1rem;
  line-height: 4rem;
  transition: background-color 0.3s;
  border: 1px solid var(--backColor1t);
  background-color: var(--backColor1t);
  color: var(--fontColor1);
}

#myHeader button:hover {
  background-color: var(--backColor1s);
  border: 1px solid var(--fontColor2);
  color: var(--fontColor2);
}

#myHeader button:active {
  background-color: var(--buttonColor3);
  color: var(--fontColor3);
}

#myHeader button:disabled {
  background-color: var(--buttonColor3);
  color: var(--fontColor3);
}

#myHeader>#buttonUser {
  border-radius: 50%;
}

/* |- Botões Entrar e Inscrever */
#myHeader>.buttonHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#myHeader>.buttonHeader i {
  font-size: 2rem;
  width: 3rem;
  height: rem;
  line-height: 2.5rem;
  color: var(--fontColor1);
}

#myHeader>.buttonHeader span {
  flex: 1;
  height: 1rem;
  font-size: .8rem;
  line-height: 1rem;
  text-align: right;
}

/* |-myFooter */
#myFooter {
  /* height: calc(var(--footerHeigth) + env(safe-area-inset-bottom)); */
  height: var(--footerHeigth);
  background-color: var(--backColor1);
  /* display: flex; será definido após o carregamento da página*/
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  color: var(--fontColor1);
}

/* |-myDivContainer */
#myDivContainer {
  flex: 1;
  border-top: 1px solid var(--fontColor5);
  border-bottom: 1px solid var(--fontColor5);
  overflow: auto;
  /* display: flex; será definido após o carregamento da página*/
  /*flex-direction: será definido no @media (Responsividade)*/
}

/* |-myDivLeft */
#myDivLeft {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  /*width: -> largura será manipulada pelo scriptMenuAnimation.js*/
}

#myDivLeft button {
  display: flex;
  align-items: center;
  margin-top: .25rem;
  height: var(--menuButtonHeight);
  border-radius: 8px;
  font-size: 1rem;
}

#myDivLeft button span {
  display: flex;
  flex: 1;
  justify-content: left;
  text-align: left;
  padding-left: .5rem;
}

#myDivLeft button i {
  line-height: var(--iconSize);
  width: var(--iconSize);
  height: var(--iconSize);
  border-radius: 4px;
  font-size: 1.5rem;
  color: var(--fontColor1);
}

/* |-MyDivCenter */
#myDivCenter {
  display: flex;
  flex: 1;
  overflow: auto;
  color: var(--fontColor1);
}

#myDivCenter .divCenterContent {
  flex: 1;
  overflow: auto;
  display: flex;
}

#myDivCenter .divCenterContent .divChildTop {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  display: flex;
  flex-direction: row;
  padding-right: .5rem;
  border-bottom: 1px solid var(--fontColor5);
}

.divCenterContent .divChildTop h1 {
  padding-left: .5rem;
  text-align: left;
  font-size: 1.5rem;
  flex: 1;
}

.divCenterContent .divChildTop button {
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-top: .5rem;
}

/* |-myDivRight */
#myDivRight {
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: var(--fontColor1);
  /*width: -> largura será manipulada pelo scriptMenuAnimation.js*/
}

#myDivRight button {
  display: flex;
  align-items: center;
  margin-top: .25rem;
  height: var(--menuButtonHeight);
  border-radius: 8px;
}

#myDivRight button span {
  display: flex;
  flex: 1;
  justify-content: left;
  text-align: left;
  padding-left: .5rem;
}

#myDivRight button i {
  line-height: var(--iconSize);
  width: var(--iconSize);
  height: var(--iconSize);
  border-radius: 4px;
  font-size: 1.5rem;
  color: var(--fontColor1);
}

#myDivRight .divClipboard {
  display: flex;
  flex-direction: row;
  margin-top: .25rem;
  align-items: center;
  line-height: 4rem;
  border-radius: 8px;
  padding-left: .5rem;
  border: 1px solid var(--backColor2t);
  cursor: pointer;
}

#myDivRight .divClipboard:hover {
  background-color: var(--backColor3);
  border: 1px solid var(--fontColor1);
}

#myDivRight .divClipboard a {
  margin-left: .5rem;
  color: var(--fontColor2);
  flex: 1;
}

#myDivRight .divClipboard:hover a {
  text-decoration: underline;
}

#myDivRight .divClipboard i {
  font-size: 1.5rem;
  color: var(--fontColor1);
}

#myDivRight .divClipboard>button {
  margin-right: .5rem;
  width: 2rem;
  height: 2.5rem;
}

#myDivRight .divClipboard>button i {
  color: var(--fontColor1);
  font-size: 1.25rem;
}


/* |-divFormParent */
#divFormParent {
  height: 100vh;
  /* display: flex; será definido após o carregamento da página*/
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--backColor2);
  color: var(--fontColor1);
}

#divFormParent form {
  position: relative;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-radius: 10px;
  overflow-y: auto;
  background-color: var(--backColor1);
  max-height: 90%;
}

#divFormParent form h1 {
  display: flex;
  font-size: 2rem;
  align-items: center;
  height: var(--headerHeigth);
  margin-bottom: .5rem;
}

#divFormParent form h1 span {
  flex: 1;
}

#divFormParent form p {
  width: 100%;
  height: 1.8rem;
  flex: 1;
  line-height: 1.8rem;
  display: flex;
}

#divFormParent form p span {
  flex: 1;
  text-align: right;
  color: var(--fontColor1);
}

#divFormParent form input {
  width: 100%;
  flex: 1;
  margin-bottom: .8rem;
  border-radius: 8px;
  padding-left: .5rem;
  background-color: var(--backColor4);
  border: 1px solid var(--fontColor1);
  color: var(--fontColor1)
}

#divFormParent form>button {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  flex: 1;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid var(--backColor2t);
  background-color: var(--buttonColor2);
  color: var(--fontColor1);
  font-size: 2rem;
}

#divFormParent form>button:hover {
  border: 1px solid var(--fontColor1);
  background-color: var(--buttonColor1);
}

#divFormParent form>button:active {
  border: 1px solid var(--fontColor1);
  background-color: var(--buttonColor3);
  color: var(--fontColor2);
}

#divFormParent form>#loginGoogleButton {
  margin-bottom: 2rem;
}

#divFormParent form p a {
  text-decoration: none;
  color: var(--aColor);
}

#divFormParent form p a:hover {
  text-decoration: underline;
}

#divConcluido {
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
}

#divConcluido p a {
  text-decoration: none;
  color: var(--aColor);
}

#divConcluido p a:hover {
  text-decoration: underline;
}

#divFormParent form p>.error {
  color: var(--aColor);
  font-weight: 600;
}


/*----------------------------------*/
/*|-RESPONSIVIDADE*/
/*----------------------------------*/

/*|- - MOBILE (width < 600)*/
@media only screen and (max-width: 599px) {

  /* |- - - myDivContainer */
  #myDivContainer {
    display: flex;
    position: relative;
    flex-direction: column;
  }

  /* |- - - myDivLeft */
  #myDivLeft {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--backColor2s);
  }

  #myDivLeft button {
    width: calc(100vw - 2rem);
  }

  /* |- - - myDivCenter */
  #myDivCenter {
    background-color: var(--backColor1);
    width: 100vw;
  }

  #myDivCenter .divCenterContent {
    height: 100%;
    min-width: 100%;
    background-color: var(--backColor1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  /* |- - - myDivRight */
  #myDivRight {
    position: absolute;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backColor2s);
  }

  #myDivRight button {
    width: calc(100vw - 2rem);
  }

  #myDivRight .divClipboard {
    width: calc(100vw - 2rem);
  }

  /* |- - - divFormParent */
  #divFormParent form {
    width: 100%;
  }

  #divFormParent form input {
    height: 3rem;
    line-height: 3rem;
  }

  #div1_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth));
  }

  #div2_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth));
  }

  #div3_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth));
  }

}

/* |- - MONITOR (width > 600)*/
@media only screen and (min-width: 600px) {

  /* |- - - myDivContainer */
  #myDivContainer {
    flex-direction: row;
  }

  /* |- - - myDivLeft */
  #myDivLeft {
    border-right: 1px solid var(--fontColor5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--backColor2);
  }

  #myDivLeft button {
    width: calc(var(--menuWidth) - 2rem);
  }

  /* |- - - myDivCenter */
  #myDivCenter {
    background-color: var(--backColor1);
    padding: .5rem;
    min-width: 0rem;
  }

  #myDivCenter .divCenterContent {
    height: 100%;
    min-width: 100%;
    background-color: var(--backColor1);
    border-radius: 8px;
  }

  /* |- - - myDivRight */
  #myDivRight {
    border-left: 1px solid var(--fontColor5);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--backColor2);
  }

  #myDivRight button {
    width: calc(var(--menuWidth) - 2rem);
  }

  #myDivRight .divClipboard {
    width: calc(var(--menuWidth) - 2rem);
  }

  /* |- - - divFormParent */
  #divFormParent form {
    width: 25rem;
    border: 1px solid var(--backColor2t);
  }

  #divFormParent form input {
    height: 2rem;
    line-height: 2rem;
  }

  #div1_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth) - 1rem);
  }

  #div2_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth) - 1rem);
  }

  #div3_panelHome {
    min-height: calc(var(--mobileHeight) - var(--headerHeigth) - var(--footerHeigth) - 1rem);
  }

}

/*---------------------------------*/
/*|- ANIMAÇÃO DOS MENUS.css*/
/*---------------------------------*/

/*largura para quando o menu for aberto*/
.open {
  width: var(--menuWidth);
}

/*largura para quando o menu for fechado*/
.close {
  width: 0;
}

/*propriedades da animação para quando o menu for aberto*/
.openDivMenu {
  animation-name: slideInMenu;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

/*propriedades da animação para quando o menu for fechado*/
.closeDivMenu {
  animation-name: slideOutMenu;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

/*animação para abrir o menu*/
@keyframes slideInMenu {
  0% {
    /*início da animação*/
    width: 0;
  }

  100% {
    /*fim da animação*/
    width: var(--menuWidth);
  }
}

/*animação para fechar o menu*/
@keyframes slideOutMenu {
  from {
    /*início da animação*/
    width: var(--menuWidth);
  }

  to {
    /*fim da animação*/
    width: 0;
  }
}

/* ------------------------------------------ */
/* |- ELEMENTOS CRIADOS POR JS*/
/* ------------------------------------------ */

/* |- Painel: config */
/* variação de .divCenterContent */
#panelHome {
  flex-direction: column;
}

#panelHome .divChildCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#div1_panelHome {
  display: flex;
  background-image: var(--backgroundImage2);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height -> editado no @media */
}

#div1_panelHome div {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;

}

#div1_panelHome div p {
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 1);
}

#div1_panelHome div button {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  height: 3rem;
  width: auto;
  padding-right: 1rem;
  border-radius: 8px;
  font-size: 1.5rem;
  align-items: center;
  color: var(--fontColor1);
  background-color: var(--backColor2);
}

#div1_panelHome div button:hover {
  background-color: var(--backColor1);
}

#div1_panelHome div button:active {
  background-color: var(--backColor3);
}

#div1_panelHome div button i {
  width: 3rem;
  color: var(--fontColor1);
}

#p1_div1_panelHome {
  margin-top: 1rem;
  text-align: center;
  width: calc(100% - 2rem);
  color: black;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 1);
}

#p2_div1_panelHome {
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  bottom: 1rem;
  left: 1rem;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  color: black;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1);
  height: 5rem;
  /* Sombra no texto para melhor visibilidade */
}

#p2_div1_panelHome span {
  padding-left: .5rem;
  /* Sombra no texto para melhor visibilidade */
}

#p2_div1_panelHome i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 5rem;
  color: #cccc00;
}

#div2_panelHome {
  flex-grow: 1;
  /* min-height -> editado no @media */
}

#div2_panelHome .pInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  min-height: 7rem;
  font-size: 1.25rem;
  align-items: center;
  max-width: 36rem;
  min-width: 18rem;
  background-color: var(--backColor1t);
  border-radius: 8px;
}

#div2_panelHome .pInfo i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  width: 6rem;
  font-size: 5rem;
  border-radius: 8px;
  color: var(--fontColor1);
}

#div2_panelHome .pInfo a {
  color: var(--fontColor2);
  font-weight: 600;
  padding-left: 1rem;
  flex: 1;
}

#div2_panelHome .pInfo a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#div3_panelHome {
  display: flex;
  background-image: var(--backgroundImage3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height -> editado no @media */
}

#div3_panelHome p {
  margin-top: 2rem;
  line-height: 2rem;
  font-size: 1.7rem;
  max-width: 36rem;
  text-align: center;
  color: #6edff6;
}

#div3_panelHome>button {
  padding-left: .5rem;
  display: flex;
  height: 5rem;
  flex-direction: row;
  list-style: none;
  width: 20rem;
  font-size: 1.7rem;
  border-radius: 2rem;
  align-items: center;
  text-align: left;
  margin-top: 1rem;
  background-color: #05090d;
}

#div3_panelHome button:hover {
  background-color: #313439;
}

#div3_panelHome button:active {
  background-color: #818489;
}

#div3_panelHome button i {
  font-size: 3.5rem;
  color: #d1d6dd;
}

#div3_panelHome button span {
  padding-left: .5rem;
  color: #d1d6dd;
  flex: 1;
}

#panel5 {
  flex-direction: column;
}

#panel5 form {
  margin-top: .5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  border-radius: 8px
}

#panel5 form input {
  margin-left: 1rem;
}

.perfil {
  flex-direction: column;
  align-items: center;
}

.perfil #imgUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5rem;
  padding: .5rem;
  display: flex;
  line-height: 2rem;
}

.perfil #imgUserForm img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid var(--backColor3);
}

.perfil #imgUserForm label {
  color: var(--aColor);
  margin-top: .5rem;
}

.perfil #imgUserForm label:hover {
  text-decoration: underline;
}

.perfil #imgUserForm input {
  display: none;
}

.perfil #imgUserForm button {
  margin-top: .5rem;
  width: 8rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid var(--fontColor1);
}

#buttonUser img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 2px solid var(--backColor3);
}

.perfil #themeUserForm {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--fontColor1);
}

.perfil #themeUserForm input {
  margin-top: 1rem;
  margin-left: 1rem;
}